name: Android CI Build

on:
  push:
    branches: ["main"]

jobs:
  android-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: "18"

      - name: Install dependencies
        run: npm install

      - name: Build Android Debug APK
        run: |
          cd android
          ./gradlew assembleDebug
